h1 {
  background: url(https://www.textures4photoshop.com/tex/direct-download.ashx?id=Y/NNBUJtksJE/JgiHL5l4KoOI4KXM6M3DiOPtJ6Qn1s=) no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip:text;
  background-clip:text; 
  text-align:center;
  font-size: 10rem;
  margin: auto;
  padding: 5rem;
}
 
h2 {
  font-size: 2rem;
  color: rgb(0, 0, 0)
}

.box1 {
  background-color: rgb(198, 201, 255);
  display: grid;
  grid-template-columns: 1;
  gap: 1rem;
  padding:5rem;
  width: 95%;
  border: 0.1rem solid;
  position: absolute;
  border-radius: 0.5rem;
  text-align: center;
}

.box2 {
  background-color: rgb(212, 219, 255);
  border: 5px solid;
  position: absolute;
  top: 60%;
  gap: 1rem;
  padding: 2rem;
  width: 80rem;
  left:5%
}

.lava-text {
  background: url(https://www.textures4photoshop.com/tex/direct-download.ashx?id=Y/NNBUJtksJE/JgiHL5l4KoOI4KXM6M3DiOPtJ6Qn1s=) no-repeat center center;
  background-size: cover;
  color: #fff;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip:text;
  background-clip:text; 
  text-align:center;
  font-size: 10rem;
  margin: auto;
  padding: 5rem;
 }
 